!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title Cats Dealer
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.fixed-top.navbar.navbar-dark.bg-primary
        .h2 Cats Dealer
        .span

    %main.flex-shrink-0
      .container.text-center
        = yield
